header {
    font-size: 100px;
    font-weight: bold;
}

#Spreadsheets {
    color: green;
}

#Presentations {
    color: orange;
}

#Word-Doc {
    color: blue;
}

.Computer {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}

.first-class {
    font-size: 25px;
}

.description {
    font-style: italic;
}

#Apple {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Microsoft {
    color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

